# === GENERAL ===
**/*.log
**/.env*
**/.DS_Store
**/*.sqlite
**/*.pid
**/.vscode/

# === Node.js ===
**/node_modules

# === APP ===
#app/android/
**/dist/
/app/capacitor.config.json

# === Docker ===
**/docker-compose.override.yml
